<h1>スケジュール管理アプリ</h1>
<%= link_to '新規作成', new_project_path %>
<% @projects.each do |project| %>
  <%= project.name %><br>
<% end %>
<div>
  <div id=date></div>
</div>
<div class="calendar-container">
  <table class="calendar">
    <thead>
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>
    <tbody>
      <!-- ここに日付が入ります -->
    </tbody>
  </table>
</div>
